* {
	box-sizing: border-box;
	text-align: center;
	}
	
body {
	background-color: #777;
	width: 960px;
	content: #ebebeb;
	margin: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: grey;
	margin-top: 10px;
}

.header {
	background: #eee;
	width: 100%
	height:100px;
	margin-left: 0px;
	margin-right:0px;
	padding: 30px;
}

.nav {
	background: #eee;
	width: 100%;
	height: 100px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 30px;
}

.container {
	margin:0px;
	 
}

/*div.section, div.aside {
	
}*/

.section {
	width: 495px;
	background: #eee;
	height:300px;
	margin-left:0px;
	margin-right: 5px;
	float: left;
	overflow: auto;
	padding: 25px;     

}

.aside {
	width: 450px;
	height:300px;
	background: #eee;
	margin-left: 8px;
	margin-bottom: 20px;
	float: right;
	padding:25px;

}

.article {
	width: 455px;
	height:200px;
	background-color: #777;
	margin-top: 40px;
	margin-right: px;
	position: absolute;
	padding: 25px;
	color:white;
}

.h1 {
	width: 100%;
	height:50px;
	background-color: #eee;
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
	padding: 10px;
	color: grey;

}

.p {
	width: 100%;
	height:50px;
	margin-left: 5px;
	background-color: #eee;
	position: relative;
	margin-bottom: 15px;
	margin-top: -10px;
	padding: 10px;
	color: grey;
}

.footer {
	background: #eee;
	width: 100%;
	height: 100px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 30px; 
	clear: both;
}